<%=render 'home/header' %>
<div class="card-body", id="note_container">
  <p>
    <strong>Title:</strong>
    <%= @note.title %>
  </p>

  <p>
    <% if @note.image.blank? %>
        
    <% else %>
         <%= image_tag(@note.image , style:'width:auto;height:200px') %>
    <% end %> 
  </p>
  
  <p>
    <strong>Description:</strong>
    <%= @note.description %>
  </p>
  <br/><br/>
  <%= link_to 'Edit', edit_note_path(@note), class:"btn btn-secondary" %> 
  &nbsp;&nbsp;
  <%= link_to 'Back', notes_path , class:"btn btn-secondary"%>
</div>
