<body>
    <div class="container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="row justify-content-center pt-5 mt-5 m-1">
            <div class="col-md-6 col-sm-8 col-xl-4 col-lg-5 formulario">
                <form action="">
                    <div class="form-group text-center pt-3">
                        <h1 class="text-light">Sign Up</h1>
                    </div>
                    <div class="form-group mx-sm-4 pt-3">
                        <% f.label :avatar%><br />
                         <%= f.file_field :avatar , class:"text-light"%>
                    </div>
                    <div class="form-group mx-sm-4 pt-3">
                        <% f.label :name, class:"text-light" %>
                        <%= f.text_field :name, class:"form-control", placeholder:"Name", autofocus: true, autocomplete: "name" %>
                    </div>
                    <div class="form-group mx-sm-4 pt-3">
                        <% f.label :email , class:"text-light"%>
                        <%= f.email_field :email, class:"form-control", placeholder:"Email", autocomplete: "email" %>
                    </div>
                    <br/>
                    <div class="form-group mx-sm-4 pb-3">
                      <%= f.label :password , class:"text-light"%>
                          <% if @minimum_password_length %>
                          <em class="text-light">(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password" %> 
                          <% f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Repeat Password" %>
                    
                    <br/>
                    <div class="actions">
                        <%= f.submit "Sign up",class:'btn btn-primary' %>
                        </div>
                    </div>
                    <br/>                
                    </div>
                </form>
            </div>
            <% end %>
        </div>
    </div>
</body>