
<div class="card-body", style="background-color: #fff;margin-left: auto;margin-right: auto;height: 91%;width: 60%;border-style: groove;">
  <div class="card-body">
  <%= form_with(model: user) do |f| %>
<div class="row justify-content-center">
    <div class="col-sm-4">
        <div class="form-group">
            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, class:" rounded-circle", style:"height:100px;width:100px;" %>             
            <% end %>
            <% f.label :email %><br />
            <%= f.file_field :avatar %>
        </div>
        
        <br />
        <div class="field form-group col-sm">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <br />
        <div class="field form-group col-sm">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email" %>
        </div>
    

        <div class="field form-group col-sm">
            <%= f.label :admin %> <br />
            <%= f.check_box :admin , class:"form-check-input" %>
        </div>
 <br />
 
        <div class="row">
            <div class="col-sm">
            <div class="actions">
            <%= f.submit %>
            </div>
        </div>

    </div> 
</div>
  
<% end %>
</div> 
</div>


