<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    &nbsp;&nbsp;&nbsp;
      <%=link_to (image_tag "logoBlanco.png", style: 'padding:0px;height:50px;width:100px' ), root_path, class:"logo" %>
      &nbsp;
      <ul style="margin:20px;padding:10px;">
        <li><a><%= link_to 'New Note', new_note_path , class:"navbar-brand text-light"%></a></li>
        <li><a><%=link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"navbar-brand text-light" %></a></li>
        <% if current_user.admin %>
          <li><a><%= link_to 'Usuarios', users_path , class:"navbar-brand text-light"%></a></li>
          <li><a><%= link_to 'Notas', notes_path , class:"navbar-brand text-light"%></a></li>
        <% end %>
      </ul>
      <div class="Day">
      <p id=miDia></p>
      <%= javascript_pack_tag 'my_js' %>
      </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div >
      <ul style="margin:25px;padding:5px;">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, class:" rounded-circle", style:"height:50px;width:50px;" %>   
        <% else %>    
          <%= image_tag("/assets/desconocido.png",:style => "height:50px;width:50px;border-radius:50%;")%>
        <% end %>&nbsp;
        <li><a><%= link_to  current_user.email, edit_user_registration_path ,class:"navbar-brand text-light" %></a></li>
        &nbsp;
        </ul>
      </div>
    </div>
  </div>
</nav>